.fc-header-title h2 {
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
}
.fc-state-highlight {
	background: #efd8ed;
}
.qtip {
	z-index: 69 !important;
	
	& .qtip-content { 
		& > h1 {
			display: block;
			clear: both;
			margin-top: 0px;
			margin-bottom: 6px;
			margin-left: 0px;
			margin-right: 0px;
			padding-top: 3px;
			padding-bottom: 0px;
			padding-left: 0px;
			padding-right: 0px;
			font-size: 16px;
			line-height: 16px;
			color: #333;
			font-weight: bold;
			text-indent: 0px;
			
			& > a:link, 
			& > a:active, 
			& > a:visited {
				display: block;
				float: right;
				margin-top: 2px;
				width: 14px;
				min-width: 14px;
				max-width: 14px;
				height: 13px;
				min-height: 13px;
				max-height: 13px;
				background-image: url(../_images/calendar-tooltip-close.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				text-indent: -9999px;
				font-size: 0;
				line-height: 0;
				text-decoration: none;
				cursor: pointer;
			}
			& > a:hover {
				background-position: 0px -13px;
			}
		}
		& > small {
			display: block;
			clear: both;
			color: #999;
			line-height: 12px;
			font-size: 12px;
			font-style: italic;
			letter-spacing: normal;
		}
		& > p {
			display: block;
			clear: both;
			padding: 0px;
			margin-top: 6px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 0px;
			font-size: 12px;
			line-height: 16px;
			color: #333;
			letter-spacing: normal;
		}
		& > ul {
			display: block;
			clear: both;
			overflow: hidden;
			padding-top: 8px;
			padding-bottom: 4px;
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 10px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 0px;
			border-top: 1px #999 solid;
			list-style: none;

			& > li {
				display: block;
				float: left;
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 0px;
				padding-right: 15px;
				margin: 0px;
				list-style: none;

				& > a:link, 
				& > a:active, 
				& > a:visited {
					display: block;
					color: #7b237a;
					font-weight: normal;
					line-height: 12px;
					font-size: 12px;
					text-decoration: none;
				}
				& > a:hover {
					color: #7b237a;
					text-decoration: underline;
				}
				
				&.remove {
					float: right;
					padding-right: 0px;
					
					& > a:link, 
					& > a:active, 
					& > a:visited {
						color: #f00;
					}
					& > a:hover {
						color: #f00;
					}
				}
			}
		}
	}
}