.background-notext {
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: -9999px;
}
.margin(@top, @bottom, @left, @right) {
	margin: @top @right @bottom @left;
}
.padding(@top, @bottom, @left, @right) {
	padding: @top @right @bottom @left;
}

html, body {
	height: 100%;
	background-image: url(../_images/bg-content.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
	font-size: 12px;
	color: #333;
}

input, select, .uneditable-input {
	height: 28px;
}

@import "pages/signin.less";
@import "modules/calendar.less";
@import "modules/calculator.less";
@import "modules/timepicker.less";
@import "modules/overrides.less";