.background-notext {
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-indent: -9999px;
}
html,
body {
  height: 100%;
  background-image: url(../_images/bg-content.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fff;
  font-size: 12px;
  color: #333;
}
input,
select,
.uneditable-input {
  height: 28px;
}
body.page-template-page-concierge-signin-php {
  background: url(../_images/bg-content-dark.jpg) no-repeat center top #262626;
  color: #838383;
  font: 13px/1.7em 'Open Sans';
}
body.page-template-page-concierge-signin-php .account-container {
  width: 380px;
  display: block;
  margin: 60px auto 0 auto;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}
body.page-template-page-concierge-signin-php .content {
  padding: 16px 28px 23px;
}
body.page-template-page-concierge-signin-php .login-fields .field {
  margin-bottom: 1.25em;
}
body.page-template-page-concierge-signin-php .login-fields label {
  display: none;
}
body.page-template-page-concierge-signin-php .login-fields input {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #8e8d8d;
  padding: 0px 15px 0px 50px;
  background-color: #fdfdfd;
  width: 320px;
  height: 40px;
  display: block;
  margin: 0;
  box-shadow: inset 2px 2px 4px #f1f1f1;
}
body.page-template-page-concierge-signin-php .login-fields .username-field {
  background: url(../_images/signin/user.png) no-repeat;
}
body.page-template-page-concierge-signin-php .login-fields .password-field {
  background: url(../_images/signin/password.png) no-repeat;
}
body.page-template-page-concierge-signin-php .login-actions {
  float: left;
  width: 100%;
  margin-top: -1em;
  margin-bottom: 1.25em;
}
body.page-template-page-concierge-signin-php .login-actions span.login-checkbox {
  float: left;
  margin-top: 31px;
}
body.page-template-page-concierge-signin-php .login-actions span.login-checkbox > input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 15px;
}
body.page-template-page-concierge-signin-php .login-actions span.login-checkbox > input[type='checkbox'] + label {
  clear: none;
  height: 15px;
  display: block;
  padding: 0 0 0 22px;
  margin: 0;
  font-size: 12px;
  line-height: 1.2em;
  background: url(../_images/signin/check.png) no-repeat 0 0;
  cursor: pointer;
}
body.page-template-page-concierge-signin-php .login-actions span.login-checkbox > input[type='checkbox']:checked + label {
  background-position: 0 -15px;
}
body.page-template-page-concierge-signin-php .account-container h1 {
  margin-bottom: .4em;
  color: #7b237a;
}
body.page-template-page-concierge-signin-php .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin-top: 18px;
}
@media (max-width: 480px) {
  body.page-template-page-concierge-signin-php .account-container {
    width: 280px;
    margin-top: 35px;
  }
  body.page-template-page-concierge-signin-php .login-fields input {
    width: 225px;
  }
}
.fc-header-title h2 {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.fc-state-highlight {
  background: #efd8ed;
}
.qtip {
  z-index: 69 !important;
}
.qtip .qtip-content > h1 {
  display: block;
  clear: both;
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  line-height: 16px;
  color: #333;
  font-weight: bold;
  text-indent: 0px;
}
.qtip .qtip-content > h1 > a:link,
.qtip .qtip-content > h1 > a:active,
.qtip .qtip-content > h1 > a:visited {
  display: block;
  float: right;
  margin-top: 2px;
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  background-image: url(../_images/calendar-tooltip-close.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  cursor: pointer;
}
.qtip .qtip-content > h1 > a:hover {
  background-position: 0px -13px;
}
.qtip .qtip-content > small {
  display: block;
  clear: both;
  color: #999;
  line-height: 12px;
  font-size: 12px;
  font-style: italic;
  letter-spacing: normal;
}
.qtip .qtip-content > p {
  display: block;
  clear: both;
  padding: 0px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  letter-spacing: normal;
}
.qtip .qtip-content > ul {
  display: block;
  clear: both;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px #999 solid;
  list-style: none;
}
.qtip .qtip-content > ul > li {
  display: block;
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 15px;
  margin: 0px;
  list-style: none;
}
.qtip .qtip-content > ul > li > a:link,
.qtip .qtip-content > ul > li > a:active,
.qtip .qtip-content > ul > li > a:visited {
  display: block;
  color: #7b237a;
  font-weight: normal;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
}
.qtip .qtip-content > ul > li > a:hover {
  color: #7b237a;
  text-decoration: underline;
}
.qtip .qtip-content > ul > li.remove {
  float: right;
  padding-right: 0px;
}
.qtip .qtip-content > ul > li.remove > a:link,
.qtip .qtip-content > ul > li.remove > a:active,
.qtip .qtip-content > ul > li.remove > a:visited {
  color: #f00;
}
.qtip .qtip-content > ul > li.remove > a:hover {
  color: #f00;
}
#big_stats {
  width: 100%;
  display: table;
  margin-top: .5em;
  margin-bottom: 1em;
}
.big-stats-container .widget-content {
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}
#big_stats .stat {
  width: 25%;
  height: 90px;
  text-align: center;
  display: table-cell;
  padding: 0;
  position: relative;
  border-right: 1px solid #CCC;
  border-left: 1px solid #FFF;
}
#big_stats .stat:first-child {
  border-left: none;
}
#big_stats .stat:last-child {
  border-right: none;
}
#big_stats .stat h4 {
  font-size: 11px;
  font-weight: bold;
  color: #777;
  margin-bottom: 1.5em;
}
#big_stats .stat .value {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  line-height: 1em;
}
@media (min-width: 1200px) {
  #big_stats .stat .value {
    font-size: 42px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .big-stats-container .widget-content {
    padding-bottom: 0px;
  }
  #big_stats {
    display: block;
    margin-bottom: -40px;
  }
  #big_stats .stat {
    width: 49%;
    display: block;
    margin-bottom: 3em;
    float: left;
  }
  #big_stats .stat:nth-child(2) {
    border-right: none;
  }
  #big_stats .stat:nth-child(3) {
    border-left: none;
  }
}
@media (max-width: 767px) {
  .big-stats-container .widget-content {
    padding-bottom: 0px;
  }
  #big_stats {
    display: block;
    margin-bottom: -40px;
  }
  #big_stats .stat {
    width: 100%;
    height: 70px;
    clear: both;
    display: block;
    margin-bottom: 0;
    float: left;
    border: none;
  }
  #big_stats .stat h4 {
    margin-bottom: 0;
  }
  #big_stats .stat .value {
    font-size: 30px;
  }
}
/*!
 * Timepicker for Bootstrap
 *
 * Copyright 2012 Joris de Wit, Stefan Petre, Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.bootstrap-timepicker.dropdown-menu {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  min-width: 10px;
  z-index: 99999;
}
.bootstrap-timepicker.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.bootstrap-timepicker.dropdown-menu:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.bootstrap-timepicker.modal {
  top: 30%;
  margin-top: 0;
  width: 200px;
  margin-left: -100px;
}
.bootstrap-timepicker.modal .modal-content {
  padding: 0;
}
.bootstrap-timepicker table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker table td span {
  width: 100%;
}
.bootstrap-timepicker table td a {
  border: 1px transparent solid;
  width: 3em;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker table td input {
  width: 46px;
  /* 25px */

  margin: 0;
  text-align: center;
}
.bootstrap-timepicker-component .add-on {
  cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
  display: block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-component .add-on {
  margin-top: -9px;
  margin-left: -4px;
}
.bootstrap-timepicker-component .add-on > i {
  line-height: 18px;
  font-size: 15px;
}
