body.page-template-page-concierge-signin-php { 
	background: url(../_images/bg-content-dark.jpg) no-repeat center top #262626; 
	color:#838383; 
	font: 13px/1.7em 'Open Sans';

	& .account-container {
		width: 380px; 
		display: block;
		margin: 60px auto 0 auto;
		background: #f9f9f9;
		border: 1px solid #d5d5d5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
	}
	& .content {
		padding: 16px 28px 23px;
	} 
	& .login-fields {
		& .field {
			margin-bottom: 1.25em;
		}
		& label {
			display: none;
		}
		& input {
			font-family: 'Open Sans';
			font-size: 13px;
			color: #8e8d8d;
			padding: 0px 15px 0px 50px;
			background-color: #fdfdfd;
			width: 320px;
			height: 40px;
			display: block;
			margin: 0;
			box-shadow: inset 2px 2px 4px #f1f1f1;
		}
		& .username-field { background: url(../_images/signin/user.png) no-repeat; }
		& .password-field { background: url(../_images/signin/password.png) no-repeat; }
	}

	& .login-actions {
		float: left;
		width: 100%;
		margin-top: -1em;
		margin-bottom: 1.25em;

		& span.login-checkbox {
			float: left;
			margin-top: 31px;
		}
		& span.login-checkbox > input[type='checkbox'] {
			opacity: 0;
			float: left;
			width: 15px;
		}
		& span.login-checkbox > input[type='checkbox'] + label {    
			clear: none;
			height: 15px; 
			display: block;
			padding: 0 0 0 22px;
			margin: 0;
			font-size: 12px;
			line-height: 1.2em;
			background: url(../_images/signin/check.png) no-repeat 0 0;
			cursor: pointer;
		}
		& span.login-checkbox > input[type='checkbox']:checked + label {	
			background-position: 0 -15px;
		}
	}


	& .account-container h1 {
		margin-bottom: .4em;
		color: #7b237a;
	}

	& .button {
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px; 
		border-radius: 3px; 
		display: inline-block; 
		float: right; 
		margin-top: 18px;
	}

	@media (max-width: 480px) {
		.account-container {
			width: 280px;	
			margin-top: 35px;
		}
		.login-fields input {
			width: 225px;
		}
	}
}