<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Financing Terms <a href="?page=concierge&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <table class="concierge-table wp-list-table widefat fixed pages">
        <thead>
            <tr>
                <th>Credit Score Range</th>
                <th>Interest Rate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Credit Score Range</th>
                <th>Interest Rate</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>		
</div>