<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Markets <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <table class="concierge-table wp-list-table widefat fixed pages">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <?php
                foreach ($queryGetMarkets as $objRow) {
                    $intCurItemID			= intval($objRow->intID);
                    $strCurItemName			= stripslashes($objRow->strName);
                    ?>
                    <tr>
                        <td><?php echo $strCurItemName; ?></td>
                        <td><a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=edit&mid=<?php echo $intCurItemID; ?>">Edit</a> | <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=remove&mid=<?php echo $intCurItemID; ?>" class="delete" data-type="market">Delete</a></td>
                    </tr>
                    <?php
                }
            ?>
        </tbody>
    </table>		
</div>