<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Concierge Accounts <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <table class="concierge-table wp-list-table widefat fixed pages">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Markets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Username</th>       
                <th>Markets</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <?php
                foreach ($queryGetAccounts as $objRow) {
                    $intCurItemID			= intval($objRow->intID);
                    $strCurItemName			= stripslashes($objRow->strName);
                    $strCurItemUsername		= stripslashes($objRow->strUsername);
					$arrCurItemMarketNames	= array();
					
					foreach ($queryGetMarkets as $objRow) {
						$intCurMarketID			= intval($objRow->intMarketID);
						$intCurMarketAccountID	= intval($objRow->intAccountID);
						$strCurMarketName		= stripslashes($objRow->strMarketName);
						
						if ($intCurMarketAccountID == $intCurItemID) {
							array_push($arrCurItemMarketNames, $strCurMarketName);
						}
					}
                    ?>
                    <tr>
                        <td><?php echo $strCurItemName; ?></td>
                        <td><?php echo $strCurItemUsername; ?></td>
                        <td><?php echo implode(', ', $arrCurItemMarketNames); ?></td>
                        <td><a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=edit&cid=<?php echo $intCurItemID; ?>">Edit</a> | <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=remove&cid=<?php echo $intCurItemID; ?>" class="delete" data-type="concierge account">Delete</a></td>
                    </tr>
                    <?php
                }
            ?>
        </tbody>
    </table>		
</div>