<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Editing Concierge Account</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=commit">
    	<input type="hidden" name="cid" id="cid" value="<?php echo $intCurAccountID; ?>" />
		
        <table class="form-table">
        	<tbody>
            	<tr valign="top">
                	<th scope="row"><label for="intConciergeType">Account Type</label></th>
                    <td>
                    	<select name="intConciergeType" id="intConciergeType">
                        	<option value="2"<?php if ($intCurAccountType == 2) echo ' selected'; ?>>Concierge</option>
                        	<option value="1"<?php if ($intCurAccountType == 1) echo ' selected'; ?>>Administrator</option>
                        </select>
                    </td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="strConciergeUsername">Username</label></th>
                    <td><input type="text" name="strConciergeUsername" id="strConciergeUsername" size="25" maxlength="45" value="<?php echo $strCurAccountUsername; ?>" /></td>
				</tr>
                <tr valign="top">
                	<th scope="row"><label for="strConciergePassword">Password</label></th>
                    <td><input type="password" name="strConciergePassword" id="strConciergePassword" size="20" maxlength="25" value="" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strConciergePasswordV">Confirm Password</label></th>
                    <td><input type="password" name="strConciergePasswordV" id="strConciergePasswordV" size="20" maxlength="25" value="" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strConciergeName">Full Name</label></th>
                    <td><input type="text" name="strConciergeName" id="strConciergeName" size="30" maxlength="45" value="<?php echo $strCurAccountName; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="chkConciergeMarket">Markets</label></th>
                    <td>
						<?php
                            foreach ($queryGetAllMarkets as $objRow) {
                                $intCurMarketID			= intval($objRow->intID);
                                $strCurMarketName		= stripslashes($objRow->strName);
                                ?>
                                <label for="chkConciergeMarket_<?php echo $intCurMarketID; ?>">
                                	<input type="checkbox" id="chkConciergeMarket_<?php echo $intCurMarketID; ?>" name="chkConciergeMarket_<?php echo $intCurMarketID; ?>" value="<?php echo $intCurMarketID; ?>"<?php if (in_array($intCurMarketID, $arrCurAccountMarkets) !== false) echo ' checked="checked"'; ?> />
                                    <span><?php echo $strCurMarketName; ?></span>
								</label>
                                <br />
                                <?php
                            }
                        ?>
                    </td>
                </tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Update Account"></p>
	</form>
</div>
