<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Procedures <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <table class="concierge-table wp-list-table widefat fixed pages">
        <thead>
            <tr>
            	<th width="15%">Type</th>
                <th width="75%">Title</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            	<th>Type</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <?php
                foreach ($queryGetProcedures as $objRow) {
                    $intCurItemID			= intval($objRow->intID);
                    $strCurItemTitle		= stripslashes($objRow->strTitle);
					$strCurItemType			= stripslashes($objRow->strProcedureTypeTitle);
                    ?>
                    <tr>
                        <td><?php echo $strCurItemType; ?></td>
                        <td><?php echo $strCurItemTitle; ?></td>
                        <td><a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=edit&pid=<?php echo $intCurItemID; ?>">Edit</a> | <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=remove&pid=<?php echo $intCurItemID; ?>" class="delete" data-type="procedure">Delete</a></td>
                    </tr>
                    <?php
                }
            ?>
        </tbody>
    </table>		
</div>