<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Editing Procedure</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=commit">
    	<input type="hidden" name="pid" id="pid" value="<?php echo $intCurProcedureID; ?>" />

        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="intProcedureType">Type</label></th>
                    <td>
                    	<select name="intProcedureType" id="intProcedureType">
                        	<?php
								foreach ($queryGetTypes as $objRow) {
									$intCurTypeID			= intval($objRow->intID);
									$strCurTypeName			= stripslashes($objRow->strName);
									?><option value="<?php echo $intCurTypeID; ?>"<?php if ($intCurTypeID == $intCurProcedureType) echo ' selected'; ?>><?php echo $strCurTypeName; ?></option><?php
								}
							?>
                        </select>
                    </td>
                </tr>
            	<tr valign="top">
                	<th scope="row"><label for="strProcedureTitle">Title</label></th>
                    <td><input type="text" name="strProcedureTitle" id="strProcedureTitle" size="75" value="<?php echo $strCurProcedureTitle; ?>" /></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="txtProcedureDesc">Description</label></th>
                    <td><textarea name="txtProcedureDesc" id="txtProcedureDesc" rows="3" cols="80"><?php echo $txtCurProcedureDesc; ?></textarea></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeAnesthesia">Fee: Anesthesia</label></th>
                    <td><input type="text" name="dblProcedureFeeAnesthesia" id="dblProcedureFeeAnesthesia" size="10" maxlength="20" value="$<?php echo number_format($dblCurFeeAnesthesia, 2); ?>" /></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeFacility">Fee: Facility</label></th>
                    <td><input type="text" name="dblProcedureFeeFacility" id="dblProcedureFeeFacility" size="10" maxlength="20" value="$<?php echo number_format($dblCurFeeFacility, 2); ?>" /></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeSurgeon">Fee: Surgeon</label></th>
                    <td><input type="text" name="dblProcedureFeeSurgeon" id="dblProcedureFeeSurgeon" size="10" maxlength="20" value="$<?php echo number_format($dblCurFeeSurgeon, 2); ?>" /></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeTotal">Fee: Total</label></th>
                    <td><input type="text" name="dblProcedureFeeTotal" id="dblProcedureFeeTotal" size="10" maxlength="20" value="$<?php echo number_format($dblCurFeeTotal, 2); ?>" /></td>
				</tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Update Procedure"></p>
	</form>
</div>
