<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Adding New Procedure Price Override</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=insert">
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="intProcedureID">Procedure</label></th>
                    <td>
                    	<select name="intProcedureID" id="intProcedureID" class="override">
                        	<?php
								foreach ($queryGetProcedures as $objRow) {
									$intProcedureID			= intval($objRow->intID);
									$strProcedureTitle		= stripslashes($objRow->strTitle);
									$dblFeeAnesthesia		= floatval($objRow->dblFeeAnesthesia);
									$dblFeeFacility			= floatval($objRow->dblFeeFacility);
									$dblFeeSurgeon			= floatval($objRow->dblFeeSurgeon);
									$dblFeeTotal			= floatval($objRow->dblFeeTotal);
									?><option value="<?php echo $intProcedureID; ?>" data-default-anesthesia="<?php echo number_format($dblFeeAnesthesia, 2); ?>" data-default-facility="<?php echo number_format($dblFeeFacility, 2); ?>" data-default-surgeon="<?php echo number_format($dblFeeSurgeon, 2); ?>" data-default-total="<?php echo number_format($dblFeeTotal, 2); ?>"><?php echo $strProcedureTitle; ?></option><?php
								}
							?>
                        </select>
                    </td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="intProcedureDoctorID">Doctor</label></th>
                    <td>
                    	<select name="intProcedureDoctorID" id="intProcedureDoctorID">
                        	<?php
								foreach ($queryGetDoctors as $objRow) {
									$intCurDoctorID			= intval($objRow->intID);
									$strCurDoctorName		= stripslashes($objRow->strName);
									?><option value="<?php echo $intCurDoctorID; ?>"><?php echo $strCurDoctorName; ?></option><?php
								}
							?>
                        </select>
                    </td>
                </tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeAnesthesia">Fee: Anesthesia</label></th>
                    <td><input type="text" name="dblProcedureFeeAnesthesia" id="dblProcedureFeeAnesthesia" size="10" maxlength="20" value="" />&nbsp;&nbsp;<span style="color: #999; font-style: italic;"></span></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeFacility">Fee: Facility</label></th>
                    <td><input type="text" name="dblProcedureFeeFacility" id="dblProcedureFeeFacility" size="10" maxlength="20" value="" />&nbsp;&nbsp;<span style="color: #999; font-style: italic;"></span></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeSurgeon">Fee: Surgeon</label></th>
                    <td><input type="text" name="dblProcedureFeeSurgeon" id="dblProcedureFeeSurgeon" size="10" maxlength="20" value="" />&nbsp;&nbsp;<span style="color: #999; font-style: italic;"></span></td>
				</tr>
            	<tr valign="top">
                	<th scope="row"><label for="dblProcedureFeeTotal">Fee: Total</label></th>
                    <td><input type="text" name="dblProcedureFeeTotal" id="dblProcedureFeeTotal" size="10" maxlength="20" value="" />&nbsp;&nbsp;<span style="color: #999; font-style: italic;"></span></td>
				</tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Create Procedure Price Override"></p>
	</form>
</div>
