<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Editing Market</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=commit">
    	<input type="hidden" name="mid" id="mid" value="<?php echo $intCurMarketID; ?>" />
		
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="strMarketName">Market Name</label></th>
                    <td><input type="text" name="strMarketName" id="strMarketName" size="30" maxlength="45" value="<?php echo $strCurMarketName; ?>" /></td>
                </tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Update Market"></p>
	</form>
</div>
