<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Adding New Procedure Type</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=insert">
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="strTypeName">Procedure Type Name</label></th>
                    <td><input type="text" name="strTypeName" id="strTypeName" size="30" maxlength="45" value="" /></td>
                </tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Create Procedure Type"></p>
	</form>
</div>
