<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Editing Doctor</h2>
    <br />

    <form method="post" action="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=commit">
    	<input type="hidden" name="did" id="did" value="<?php echo $intCurDoctorID; ?>" />
		
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="strDoctorName">Doctor Name</label></th>
                    <td><input type="text" name="strDoctorName" id="strDoctorName" size="30" maxlength="45" value="<?php echo $strCurDoctorName; ?>" /></td>
                </tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Update Doctor"></p>
	</form>
</div>
