<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Procedure Price Overrides <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <?php
		if (count($queryGetOverrides)) {
			foreach ($queryGetDoctors as $objRow) {
				$intCurDoctorID			= intval($objRow->intID);
				$strCurDoctorName		= stripslashes($objRow->strName);
				$boolShowDoctor			= false;
				
				foreach ($queryGetOverrides as $objRow) {
					$intCurOverrideDoctorID		= intval($objRow->intDoctorID);
					
					if ($intCurDoctorID == $intCurOverrideDoctorID) {
						$boolShowDoctor				= true;
						break;
					}
				}
				
				if ($boolShowDoctor) {
					?>
					<h3>Doctor: <?php echo $strCurDoctorName; ?></h3>
					<table class="concierge-table wp-list-table widefat fixed pages">
						<thead>
							<tr>
								<th width="15%">Type</th>
								<th width="43%">Title</th>
								<th width="8%">Anesthesia</th>
								<th width="8%">Facility</th>
								<th width="8%">Surgeon</th>
								<th width="8%">Total</th>
								<th width="10%">Actions</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Type</th>
								<th>Title</th>
								<th>Anesthesia</th>
								<th>Facility</th>
								<th>Surgeon</th>
								<th>Total</th>
								<th>Actions</th>
							</tr>
						</tfoot>
						<tbody>
						<?php
							foreach ($queryGetOverrides as $objRow) {
								$intCurItemID				= intval($objRow->intID);
								$intCurItemDoctorID			= intval($objRow->intDoctorID);
								$intCurItemProcedureID		= intval($objRow->intProcedureID);
								$strCurItemProcedureType	= stripslashes($objRow->strProcedureType);
								$strCurItemProcedureTitle	= stripslashes($objRow->strProcedureTitle);
								$dblCurItemFeeAnesthesia	= floatval($objRow->dblFeeAnesthesia);
								$dblCurItemFeeFacility		= floatval($objRow->dblFeeFacility);
								$dblCurItemFeeSurgeon		= floatval($objRow->dblFeeSurgeon);
								$dblCurItemFeeTotal			= floatval($objRow->dblFeeTotal);
								?>
								<tr>
									<td><?php echo $strCurItemProcedureType; ?></td>
									<td><?php echo $strCurItemProcedureTitle; ?></td>
									<td><?php echo (($dblCurItemFeeAnesthesia > 0) ? ('$' . number_format($dblCurItemFeeAnesthesia, 2)) : '(default)'); ?></td>
									<td><?php echo (($dblCurItemFeeFacility > 0) ? ('$' . number_format($dblCurItemFeeFacility, 2)) : '(default)'); ?></td>
									<td><?php echo (($dblCurItemFeeSurgeon > 0) ? ('$' . number_format($dblCurItemFeeSurgeon, 2)) : '(default)'); ?></td>
									<td><?php echo (($dblCurItemFeeTotal > 0) ? ('$' . number_format($dblCurItemFeeTotal, 2)) : '(default)'); ?></td>
									<td><a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=edit&oid=<?php echo $intCurItemID; ?>">Edit</a> | <a href="?page=<?php echo self::APB_MODULE_SLUG; ?>&action=remove&oid=<?php echo $intCurItemID; ?>" class="delete" data-type="procedure">Delete</a></td>
								</tr>
								<?php
							}
						?>
						</tbody>
					</table>
					<?php
				}
			}
		} else {
			?>
            <p>Sorry, but there are no procedure price overrides to display at this time.</p>
			<?php
		}
	?>
    
</div>