#adminmenu .toplevel_page_concierge .wp-menu-image {
  overflow: hidden;
}
#adminmenu .toplevel_page_concierge .wp-menu-image > img {
  position: relative;
  margin-top: -24px;
}
#adminmenu .toplevel_page_concierge.current .wp-menu-image > img,
#adminmenu .toplevel_page_concierge.wp-has-current-submenu .wp-menu-image > img {
  margin-top: 0px;
  opacity: 1;
}
