#adminmenu {
	& .toplevel_page_concierge { 
		& .wp-menu-image {
			overflow: hidden;

			& > img {
				position: relative;
				margin-top: -24px;
			}
		}
		
		&.current, 
		&.wp-has-current-submenu {
			& .wp-menu-image {
				& > img {
					margin-top: 0px;
					opacity: 1;
				}
			}
		}
	}
}